<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
<p>
    <% testdata.forEach(function(element){ %>
        <p><%= element.question %></p>
        <ul>
        <% element.options.forEach(function(option){ %>
            <li><%= option %></li>
        <% }) %>
        </ul>
    <% }) %>


</p>



</body>
</html>